.header{
    width: 100vw;
    height: 80px;
    border-bottom: 2px solid rgba(51, 51, 51, 0.3);
    .headercontent{
        width: 950px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 35px;
        .box{
            width: 45px;
            height: 45px;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid black;
            cursor: pointer;
        }
    }
}